/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #DADDD9;
  color: #0e3506;
  height: 400vh; /* spazio scroll */
  margin: 0;

}

/* TITLE */
.fixed-title {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 10;
}

.fixed-title h1 {
  font-size: 30px;
  font-weight: 700;
}

/* MAP */
.map-wrapper {
  position: fixed;
  inset: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

#map-container svg {
  width: 100%;
  height: 100%;
}

/* TEXT BOX */
.box {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 420px;
  padding: 16px;
  font-size: 14px;
  line-height: 1.4;
  background: rgba(168, 173, 166, 0.6);
  border-radius: 10px;
  z-index: 5;
  transition: opacity 0.6s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* LEGEND */
.legend {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.gray { background: #a8ada6; }
.black { background: #000000; }
.cinnamon { background: #1bd600; }

/* SCROLL STEPS */
.scroll-steps {
  position: relative;
  z-index: 2;
}

.scroll-steps .step {
  height: 100vh;
}

/* MOBILE */
@media (max-width: 768px) {

  /* Wrapper della mappa */
  .map-wrapper {
    overflow: hidden;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
}
  }

  /* Contenitore SVG */
  #map-container {
    width: 100vh;
    height: 100vw;
    position: absolute;
  

   
    top: 50%;
    left: 50%;
  
   

    transform:
      translate(-50%, -50%)
      rotate(-90deg)
      scale(1.6);

    transform-origin: center center;
  }

  /* SVG vero e proprio */
  #map-container svg {
    width: 100%;
    height: 100%;
  }

}

