* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #DADDD9;
  color: #0e3506;
  height: 400vh; /* spazio per scroll */
}

/* FIXED TITLE */
.fixed-title {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 10;
}

.fixed-title h1 {
  font-size: 30px;
  font-weight: 700;
}

/* MAP */
.map-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;
}

#map {
  width: 100%;
  height: 100%;
}

/* TEXT BOX */
.box {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 420px;
  background: rgba(168, 173, 166, 0.6);
  border-radius: 10px;
  padding: 16px;
  font-size: 14px;
  line-height: 1.4;
  z-index: 9;
  transition: opacity 0.6s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* LEGEND */
.legend {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.gray { background: #a8ada6; }
.black { background: #000000; }
.cinnamon { background: #1bd600; }

/* SCROLL TRIGGERS */
.scroll-steps .step {
  height: 100vh;
}

.scroll-steps .spacer {
  height: 100vh;
}


/* MOBILE */
@media (max-width: 768px) {
  .fixed-title {
    position: relative;
    top: auto;
    left: auto;
    padding: 20px;
  }

  .box {
    top: auto;
    bottom: 20px;
    transform: translateX(-50%);
  }
}
