/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #DADDD9;
  color: #0e3506;
  height: 400vh; /* spazio scroll */
  margin: 0;

}

/* TITLE */
.fixed-title {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 10;
}

.fixed-title h1 {
  font-size: 30px;
  font-weight: 700;
}

/* MAP */
.map-wrapper {
  position: fixed;
  inset: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

#map-container svg {
  width: 100%;
  height: 100%;
}

/* TEXT BOX */
.box {
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 420px;
  padding: 16px;
  font-size: 14px;
  line-height: 1.4;
  background: rgba(168, 173, 166, 0.6);
  border-radius: 10px;
  z-index: 5;
  transition: opacity 0.6s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* LEGEND */
.legend {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.gray { background: #a8ada6; }
.black { background: #000000; }
.cinnamon { background: #1bd600; }

/* SCROLL STEPS */
.scroll-steps {
  position: relative;
  z-index: 2;
}

.scroll-steps .step {
  height: 100vh;
}
/* SANKEY */
#sankey-section {
  position: relative;
  background: #DADDD9;
  padding: 120px 40px 160px 40px;
}

.section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #0e3506;
  max-width: 1200px;
  margin-bottom: 40px;
}

#sankey-container {
  max-width: 1200px;
  margin: 0 auto;
}


/* MOBILE */
@media (max-width: 768px) {

  #map-container svg {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 120vh;

    transform:
      translate(-41%, -50%)  /* 👈 spostamento a destra */
      rotate(-90deg)
      scale(0.85);

    transform-origin: center center;
  }
    .box {
    top: 150px;          /* un po’ più su su mobile */
    left: 15px;         /* allineato a sinistra */
    font-size: 12px;
    right: auto;

    max-width: 150px;

    transform: none;    /* IMPORTANTISSIMO */
  }

}
